@model MovieApp.Models.DTO.AddToOrderDto

<div class="container">
    <form method="post" asp-action="AddToOrder">

        <input type="hidden" asp-for="SelectedTicketId" value="@Model.SelectedTicketId" class="form-control" />

        

        <div class="row mt-4">
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" type="number" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>

        <div class="row mt-4">
            <button type="submit" class="btn btn-success">Add To Order</button>
        </div>
    </form>

</div>
